@model Service

<h1>Ajouter un nouveau service</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="NomService"></label>
        <input asp-for="NomService" />
        <span asp-validation-for="NomService"></span>
    </div>
    <div>
        <label asp-for="Tarif"></label>
        <input asp-for="Tarif" />
        <span asp-validation-for="Tarif"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <button type="submit">Ajouter</button>
</form>
